<div class="skills-container">
  <div class="container-fluid">
    <div class="main-skills-container">
      <div class="main-skills-container-inner">
        <!-- <img src="../../assets/boy-skills.png" alt="boy showing skills" width="300" height="400" class="img-responsive"> -->

        <div class="col-lg-4 col-md-7 animation-wrapper">
					    
            <img class="slide_up main_position animate img-responsive" 
            src="../../assets/freelance-web-designer-in-galway.png" 
            alt="Freelance Web Designer Galway, Ireland" title="Freelance Web Designer Galway, Ireland">
            <img class="slide_right animate img-responsive hidden-xs" 
            src="../../assets/freelance-web-designer-emily-ridge.png" 
            alt="" title="">
            <img class="slide_left animate img-responsive hidden-xs" 
            src="../../assets/freelance-web-designer-in-ireland.png" 
            alt="Example website from Freelance Web Designer in Dublin on iPhone or Smartphone" 
            title="Example website from Freelance Web Designer in Dublin on iPhone or Smartphone">                
          </div>


      </div>
    </div>
  </div>
</div>