
.root__container, .main__footer, .main__container{
    transition: 0.5s;
}

.main__footer {
    background: #ccc;
    width: 100%;
}

.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
}



.TagLine{
    font-weight: 800;
    font-family: Garamond;
    font-size: -webkit-xxx-large;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}

#main__container {
    color: white;
}

.main-container-middle {
    -webkit-margin-before: 7em;
    /* background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    background: #8C43FF;
    padding-bottom: 15em;
}

.main-container-middle-text-headline  > h1:first-of-type {
    font-weight: 800;
}

.main-container-middle-outer-box {
    width: 60%;
    margin: auto;
    -webkit-margin-before: 5em;
}

.main-container-middle-text-description > h2 {
    line-height: 2;
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    font-size: 30px;
    color: black;
    text-align: center;
}

.grid-box-container-outer {
    -webkit-margin-before: 4em;
    -webkit-margin-after: 1em;
    margin-top: -130px;
}

.grid-item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #E6ECF8;
}

.grid-item:last-child  {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #E6ECF8;
}

.primary-text-box {
    color: #8C43FF !important;
    font-size: 18px;
}

.grid-content {
    font-size: 18px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 2em;
    line-height: 1.5;
}

.skill-name {
    -webkit-margin-before: 2em;
}

.primary-text-box + ul li {
    font-size: 18px;
    list-style-type: none;
}

.primary-text-box + ul {
    line-height: 1.5;
}

.animation-wrapper {
    position: relative;
}

.animate {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* position: absolute; */
    /* visibility: visible!important; */
}

.slide_up {
    animation-name: slide_up;
    -webkit-animation-name: slide_up;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
}

.slide_left {
    animation-name: slide_left;
    -webkit-animation-name: slide_left;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.scale_shine {
    animation-name: scale_shine;
    animation-delay: 1.5s;
    -webkit-animation-name: scale_shine;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
} 